/* Nền Gradient */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Gradient từ màu cam sang màu hồng */
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Định dạng chung cho các đường kẻ ngang */
.horizontal-line {
    display: block;
    width: 100px;
    height: 2px;
    background-color: #333;
    border-radius: 2px;
    text-decoration: none;
    margin: 10px 0;
    position: relative;
    cursor: pointer;
}

.horizontal-line:hover {
    background-color: #007bff;
}

/* Định dạng cho container và danh sách chọn */
.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
